:root{
    background-color: rgb(6, 62, 85);
}

h1{
    text-align: start;
    color: white;
}

.descripción{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 45px;
}

.descripción img{
    width: 300px;
    height: 300px;
    padding-right: 60px;

}

.descripción p{
    width: 420px;
    height: 180px;
    margin-right: 40px;
    margin-bottom: 40px;
    text-align: justify;
    font-size: 1em;
    color: white;
}